$heading-font-family: "dolato", "Helvetica", "Arial", sans-serif
$body-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$meta-font-family: $body-font-family

$color-background: #e6dec6
$color-accent: #424242

$heading-font-weight: normal
$h1-weight: normal
$h2-weight: normal
$h3-weight: normal
$h4-weight: normal
$h5-weight: normal
$h6-weight: normal
